<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="./login.js"></script>
  <script type="text/javascript" src="./post.js"></script>
  <script type="text/javascript" src="./index.js"></script>

  <title>글작성 페이지</title>
</head>
<link rel="stylesheet" href="./styles.css" />

<body>
  <div class="postTextArea" id="subject" align="center">
    <textarea id="subject" rows="1" cols="30" onclick="emptyBtn(this)">제목
    </textarea>
  </div>
  <div class="postTextArea" id="data" align="center">
    <textarea id="data" rows="4" cols="30" onclick="emptyBtn(this)">내용
    </textarea>
  </div>
  <div align="center">
    <button class="postBtn" id="postBtnBtn" onclick="handlePost(subject, data)">
      제출
    </button>
  </div>
</body>

</html>