html,
body {
  background-color: white;
}

h2 {
  font-size: 15px;
}

.boardBody {
  display: flex;
  align-items: center;
  background-color: lightgreen;
  font-size: 12;
}

.loginBtn {
  background-color: white;
  color: gray;
}

.postData {
  width: 200px;
}